$default-font: "Montserrat",
  sans-serif;
$default-font2: "Montserrat",
  sans-serif;
$mc: #b6b3b0;
//$mc2: #f85a00;
$mc3: #293044;
//$mc4: #232a3a;
//
//$bg-col-1: #f4f5f6;
//$bg-col-2: #ebedf0;
//$bg-col-3: #e0e4e9;
//$bg-col-4: #fbfbfb;
//
//$textDark: #293044;
//$textLight: #ffffff;
//$grayBorder: rgb(234, 234, 234);
//$gray: rgba(41, 48, 68, .05);
//$text: #757985;
$wc: #ffffff;
$bc: #000000;
//$bc2: #000000;
$color1: #85C441;
$color2: #752180;

$padding-wrap: 45px;
$padding-wrap--small: 20px;

//$--bg: #ff1e3c;
$--bg : #71A461;
//$--bg-opacity: rgba(255, 30, 60, .6);


