@media screen and (min-width:576px) and (max-width:768px){
    .s3d-select[data-type="favourites"] svg {
        display: none;
    }
    .s3d-select[data-count="0"] {
        display: none;
    }
    
}

@media screen and (max-width:575px) {
    .s3d-controller {
        display: grid !important;
    }
    .s3d-controller {
        grid-gap: 0px;
        padding-bottom: 0;
    }
    .s3d-controller__elem {
        // display: none;
    }
    .s3d-controller__openFilter {
        height: 37px;
        width: 116px;
        svg {
            width: 16px;
            height: 14px;
        }
    }
    .s3d-controller__openFilter__icon {
        width: 36px;
        height: 36px;
    }
    .s3d-controller__openFilter__text {
        padding: 10px 13px;
        text-transform: lowercase;
        font-size: 8px;
        line-height: 8px;
    }
    .s3d-tell {
        display: none;
    }
    .s3d-controller__compass {
        display: none;
    }
}

//общие стили навигации
.s3d-controller {
    @media screen and (max-width: 575px) {
        .s3d-select {
            width: 33.3333333%;
            height: 52px;
            min-width: auto;
            font-size: 8px;
            line-height: 8px;
            text-transform: lowercase;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: 600;
        }
        .s3d-select[data-type="complex"] {
            background-color: var(--white);
            color: var(--black);
            &::before {
                margin-bottom: 4px;
                display: inline-block;
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.6818 7.55297L17.0766 6.17601V1.61069C17.0758 1.47133 17.0166 1.33795 16.9119 1.23972C16.8072 1.14148 16.6656 1.08641 16.518 1.08653H12.6539C12.5063 1.08628 12.3645 1.1413 12.2597 1.23955C12.1549 1.33779 12.0957 1.47125 12.0949 1.61069V1.90346L10.1561 0.240807C9.97684 0.0859094 9.74269 0 9.49972 0C9.25676 0 9.0226 0.0859094 8.84338 0.240807L0.317603 7.55297C0.172448 7.67762 0.0707029 7.84088 0.0257826 8.02123C-0.0191377 8.20157 -0.00512459 8.39054 0.0659745 8.56322C0.137074 8.73589 0.26192 8.88417 0.424055 8.98849C0.586191 9.09282 0.778002 9.1483 0.974201 9.14763H2.3359V16.474C2.33617 16.6136 2.39515 16.7475 2.49989 16.8461C2.60463 16.9448 2.74656 17.0001 2.89449 17H7.56768C7.71561 17.0001 7.85754 16.9448 7.96228 16.8461C8.06702 16.7475 8.126 16.6136 8.12627 16.474V12.0257H10.8727V16.474C10.8728 16.5432 10.8874 16.6117 10.9155 16.6756C10.9437 16.7394 10.9849 16.7975 11.0368 16.8463C11.0888 16.8952 11.1504 16.9339 11.2181 16.9602C11.2859 16.9866 11.3585 17.0001 11.4318 17H16.1045C16.2524 17.0001 16.3943 16.9448 16.4991 16.8461C16.6038 16.7475 16.6628 16.6136 16.663 16.474V9.1481H18.0252C18.2216 9.14888 18.4135 9.09344 18.5758 8.98909C18.738 8.88474 18.8629 8.73638 18.9341 8.5636C19.0052 8.39082 19.0191 8.20174 18.9741 8.02131C18.9291 7.84088 18.8272 7.67758 18.6818 7.55297V7.55297Z' stroke='%23EB8271'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                width: 19px;
                height: 17px;
                content: '';
            }
        }
        .s3d-select[data-type="plannings"] {
            color: var(--black);
            background-color: var(--white);
            &::before {
                margin-bottom: 4px;
                display: inline-block;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0746 17.8L1.92536 13.9695C1.15922 13.6094 1.15922 12.5196 1.92536 12.1595L10.0746 8.32898C10.3441 8.20233 10.6559 8.20233 10.9254 8.32898L19.0746 12.1595C19.8408 12.5196 19.8408 13.6094 19.0746 13.9695L10.9254 17.8C10.6559 17.9267 10.3441 17.9267 10.0746 17.8Z' fill='white' stroke='%23EB8271'/%3E%3Cpath d='M10.0746 14.5098L1.92536 10.6792C1.15922 10.3191 1.15922 9.22934 1.92536 8.86922L10.0746 5.0387C10.3441 4.91204 10.6559 4.91204 10.9254 5.0387L19.0746 8.86922C19.8408 9.22934 19.8408 10.3191 19.0746 10.6792L10.9254 14.5098C10.6559 14.6364 10.3441 14.6364 10.0746 14.5098Z' fill='white' stroke='%23EB8271'/%3E%3Cpath d='M10.0746 10.671L1.92536 6.84049C1.15922 6.48037 1.15922 5.3906 1.92536 5.03048L10.0746 1.19996C10.3441 1.0733 10.6559 1.0733 10.9254 1.19996L19.0746 5.03048C19.8408 5.3906 19.8408 6.48037 19.0746 6.84049L10.9254 10.671C10.6559 10.7977 10.3441 10.7977 10.0746 10.671Z' fill='white' stroke='%23EB8271'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                width: 21px;
                height: 19px;
                content: '';
            }
        }
        .s3d-select[data-type="favourites"] {
            color: var(--black);
            background-color: var(--white);
            position: relative;
            span {
                color: var(--orange);
                top: 20px;
                font-size: 8px;
                line-height: 1em;
            }
            &::before {
                margin-bottom: 4px;
                display: inline-block;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 18L10.2398 17.7594C9.79782 17.3509 9.26156 16.8415 8.66766 16.277C8.22972 15.8606 7.76 15.4143 7.27291 14.9561C4.57095 12.4143 3.7069 11.5396 2.77743 10.2277C1.7855 8.8278 1.0689 7.81627 1.00791 6.31303C0.934626 5.00361 1.3726 3.7157 2.23379 2.7082C2.96463 1.87201 3.96184 1.29862 5.06619 1.07959C6.14002 0.890992 7.24756 1.04024 8.22861 1.50575C9.11571 1.90646 9.89376 2.50481 10.5 3.25251C11.1062 2.5048 11.8843 1.90646 12.7714 1.50575C13.7524 1.04 14.86 0.890738 15.9338 1.07959C17.0382 1.29862 18.0354 1.87201 18.7662 2.7082C19.6274 3.7157 20.0654 5.00361 19.9921 6.31303C19.9311 7.81627 19.2145 8.8278 18.2226 10.2277C17.2931 11.5396 16.4291 12.4143 13.7271 14.9561C13.24 15.4143 12.7703 15.8606 12.3323 16.277C11.7384 16.8415 11.2022 17.3509 10.7602 17.7594L10.5 18Z' stroke='%23EB8271'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                width: 21px;
                height: 19px;
                content: '';
            }
        }
        .s3d-select[data-count="0"] {
            filter:grayscale(1.5);
            pointer-events: none;
            color: #b1b1b1;
        }
    }
}

//Єкран 3д дома
@media screen and (max-width:575px) {
    .s3d-controller[data-type="complex"] {
        grid-template-columns: repeat(3, 33.3vw);
        .s3d-select[data-type="complex"] {
            background-color: var(--orange);
            color: var(--white);
            &::before {
                margin-bottom: 4px;
                display: inline-block;
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.6818 7.55297L17.0766 6.17601V1.61069C17.0758 1.47133 17.0166 1.33795 16.9119 1.23972C16.8072 1.14148 16.6656 1.08641 16.518 1.08653H12.6539C12.5063 1.08628 12.3645 1.1413 12.2597 1.23955C12.1549 1.33779 12.0957 1.47125 12.0949 1.61069V1.90346L10.1561 0.240807C9.97684 0.0859094 9.74269 0 9.49972 0C9.25676 0 9.0226 0.0859094 8.84338 0.240807L0.317603 7.55297C0.172448 7.67762 0.0707029 7.84088 0.0257826 8.02123C-0.0191377 8.20157 -0.00512459 8.39054 0.0659745 8.56322C0.137074 8.73589 0.26192 8.88417 0.424055 8.98849C0.586191 9.09282 0.778002 9.1483 0.974201 9.14763H2.3359V16.474C2.33617 16.6136 2.39515 16.7475 2.49989 16.8461C2.60463 16.9448 2.74656 17.0001 2.89449 17H7.56768C7.71561 17.0001 7.85754 16.9448 7.96228 16.8461C8.06702 16.7475 8.126 16.6136 8.12627 16.474V12.0257H10.8727V16.474C10.8728 16.5432 10.8874 16.6117 10.9155 16.6756C10.9437 16.7394 10.9849 16.7975 11.0368 16.8463C11.0888 16.8952 11.1504 16.9339 11.2181 16.9602C11.2859 16.9866 11.3585 17.0001 11.4318 17H16.1045C16.2524 17.0001 16.3943 16.9448 16.4991 16.8461C16.6038 16.7475 16.6628 16.6136 16.663 16.474V9.1481H18.0252C18.2216 9.14888 18.4135 9.09344 18.5758 8.98909C18.738 8.88474 18.8629 8.73638 18.9341 8.5636C19.0052 8.39082 19.0191 8.20174 18.9741 8.02131C18.9291 7.84088 18.8272 7.67758 18.6818 7.55297V7.55297Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                width: 19px;
                height: 17px;
                content: '';
            }
        }
    }
}

.s3d-controller[data-type="complex"],
.s3d-controller[data-type="favourites"] {
    @media screen and (max-width: 575px) {
        // .s3d-infoBox__static {
        //     display: none;
        // }
        .s3d-infoBox {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            right: auto;
            bottom: auto;
            grid-area: none;
        }
        .s3d-infoBox:not(.s3d-infoBox-active) {
            opacity: 0;
            pointer-events: none;
        }
        .s3d-controller__elem {
            grid-area: 5/1/6/4;
            width: 100%;
        }
        .s3d-title {
            display: none;
        }
    }
}

//Кнопки навигации на плитке
@media screen and (max-width:575px) {
    .s3d-controller[data-type="plannings"] {
        grid-template-columns: repeat(3, 33.3vw);
        .s3d-controller__openFilter {
            width: 36px;
            overflow: hidden;
        }
        .s3d-infoBox {
            display: none;
        }
        .s3d-controller__elem {
            width: 100%;
            position: fixed;
            bottom: 60px;
        }
        .s3d-select[data-type="plannings"] {
            color: var(--white);
            background-color: var(--orange);
            &::before {
                margin-bottom: 4px;
                display: inline-block;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0746 17.8L1.92536 13.9695C1.15922 13.6094 1.15922 12.5196 1.92536 12.1595L10.0746 8.32898C10.3441 8.20233 10.6559 8.20233 10.9254 8.32898L19.0746 12.1595C19.8408 12.5196 19.8408 13.6094 19.0746 13.9695L10.9254 17.8C10.6559 17.9267 10.3441 17.9267 10.0746 17.8Z' fill='white' stroke='%23EB8271'/%3E%3Cpath d='M10.0746 14.5098L1.92536 10.6792C1.15922 10.3191 1.15922 9.22934 1.92536 8.86922L10.0746 5.0387C10.3441 4.91204 10.6559 4.91204 10.9254 5.0387L19.0746 8.86922C19.8408 9.22934 19.8408 10.3191 19.0746 10.6792L10.9254 14.5098C10.6559 14.6364 10.3441 14.6364 10.0746 14.5098Z' fill='white' stroke='%23EB8271'/%3E%3Cpath d='M10.0746 10.671L1.92536 6.84049C1.15922 6.48037 1.15922 5.3906 1.92536 5.03048L10.0746 1.19996C10.3441 1.0733 10.6559 1.0733 10.9254 1.19996L19.0746 5.03048C19.8408 5.3906 19.8408 6.48037 19.0746 6.84049L10.9254 10.671C10.6559 10.7977 10.3441 10.7977 10.0746 10.671Z' fill='white' stroke='%23EB8271'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                width: 21px;
                height: 19px;
                content: '';
            }
        }
    }
}

//Кнопки навигации в избранном
@media screen and (max-width:575px) {
    .s3d-controller[data-type="favourites"] {
        display: grid;
        z-index: 250;
        .s3d-controller__openFilter {
            display: none;
        }
        .s3d-controller__elem {
            width: 100%;
            position: fixed;
            bottom: 60px;
        }
        .s3d-select[data-type="favourites"] {
            color: var(--white);
            background-color: var(--orange);
            span {
                color: var(--white);
            }
            &::before {
                margin-bottom: 4px;
                display: inline-block;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 18L10.2398 17.7594C9.79782 17.3509 9.26156 16.8415 8.66766 16.277C8.22972 15.8606 7.76 15.4143 7.27291 14.9561C4.57095 12.4143 3.7069 11.5396 2.77743 10.2277C1.7855 8.8278 1.0689 7.81627 1.00791 6.31303C0.934626 5.00361 1.3726 3.7157 2.23379 2.7082C2.96463 1.87201 3.96184 1.29862 5.06619 1.07959C6.14002 0.890992 7.24756 1.04024 8.22861 1.50575C9.11571 1.90646 9.89376 2.50481 10.5 3.25251C11.1062 2.5048 11.8843 1.90646 12.7714 1.50575C13.7524 1.04 14.86 0.890738 15.9338 1.07959C17.0382 1.29862 18.0354 1.87201 18.7662 2.7082C19.6274 3.7157 20.0654 5.00361 19.9921 6.31303C19.9311 7.81627 19.2145 8.8278 18.2226 10.2277C17.2931 11.5396 16.4291 12.4143 13.7271 14.9561C13.24 15.4143 12.7703 15.8606 12.3323 16.277C11.7384 16.8415 11.2022 17.3509 10.7602 17.7594L10.5 18Z' stroke='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                width: 21px;
                height: 19px;
                content: '';
            }
        }
    }
}

@media screen and (max-width:575px) {
    .s3d-controller[data-type="apart"] {
        .s3d-infoBox {
            display: none;
        }
        .s3d-controller__elem {
            width: 100%;
            position: fixed;
            bottom: 50px;
        }
        .s3d-controller__openFilter {
            display: none;
        }
    }
}