* {
    --white: #FFFFFF;
    --gray: #DDD9D3;
    --orange: #752180;
    --black: #221F20;
    --very-gray: #99918A;
    --blue: #85C441;
    --other-gray: #F2F2F2;
}
//.s3d-select {
//    background-color: var(--orange);
//    color: var(--white);
//}

@media screen and (max-width:768px)  and (min-width:576px){
    .s3d-title {
        display: none;
    }
}
@media screen and (max-width:575px) {
    .s3d__wrap {
        padding-bottom: 44px;
    }
    .s3d__button {
        width: 36px;
        height: 36px;
    }
    .s3d__button svg {
        width: 9px;
        height: 7px;
    }
    .s3d__button-left {
        left: 14px;
    }
    .s3d__button-right {
        right: 14px;
    }
    .s3d-infoBox__close {
        //right: auto;
        //left: 10px;
        top: 10px;
        right: 10px;
        width: 13px;
        height: 13px;
        &:before,
        &:after {
            background: var(--gray);
        }
    }
    .s3d-pl__mouse {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .s3d-hover-translate {
        background: none;
        height: inherit;
        font-size: 24px;
        line-height: 1.3em;
        text-transform: capitalize;
        text-align: left;
        color: #240A3A;
        padding: 0;
        border-radius: 0;
        &-wrap {
            top: 50%!important;
            left: 50%!important;
            transform: translate(-50%, -50%);
            padding: 30px 30px 40px;
            background: #FFFFFF;
            box-shadow: 0 4px 20px rgba(36, 10, 58, 0.15);
            border-radius: 20px;
        }
        &__link {
            display: inline-block;
        }
        &__close {
            display: inline-block;
        }
    }
}
//HOVERS
@media screen and (min-width:769px) {
    .s3d-infoBox__link {
        transition: box-shadow .3s ease-out;
    }
    .s3d-infoBox__link:hover {
        box-shadow: 0 4px 15px rgba(36, 22, 19, 0.3);
    }
    .irs--flat .irs-handle i {
        transition: .3s ease-out;
    }
    .irs--flat .irs-handle:hover {

        cursor: pointer;
    }
    .irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
        background-color: #85C441;
    }
    .s3d__button:hover {
        box-shadow: none;
    }

    .s3d {
        &-select {
            &__button {
                &:hover {
                    background: $color2;
                    color: $wc;
                }
            }
            &:hover {
                //border-radius: 0;
                background: #842990;
                color: rgba(255,255,255,1);
                .s3d-select__svg {
                    stroke: #ffffff;
                    transform: rotate(180deg);
                }
                .s3d-select__group {
                    opacity: 1;
                    pointer-events: painted;
                    transition: opacity 0.4s ease-in-out 0.2s;
                }
                &:first-child {
                    border-radius: 0 0 0 25px;
                }
                &:nth-child(2) {
                    border-color: transparent;
                }
            }
            //&:hover:not( [ disabled ] ) {
            //    border-radius: 0;
            //    background: #842990;
            //    color: rgba(255,255,255,1);
            //    .s3d-select__svg {
            //        stroke: #ffffff;
            //        transform: rotate(180deg);
            //    }
            //    .s3d-select__group {
            //        opacity: 1;
            //        pointer-events: painted;
            //        transition: opacity 0.4s ease-in-out 0.2s;
            //    }
            //}
        }
    }

}