//@media screen and (min-width:769px){
//    #js-s3d__wrapper__complex, #js-s3d__wrapper__courtyard{
//        overflow-x: auto;
//        overflow-y: hidden;
//    }
//}

@media screen and (min-width:769px) and (max-width:1023px) {
    .s3d-controller[data-type="complex1"], .s3d-controller[data-type="courtyard1"], .s3d-controller[data-type="complex2"], .s3d-controller[data-type="courtyard2"], .s3d-controller[data-type="plannings"]{
        .s3d-tell{
            &__text{
                display: none;
            }
        }
        .s3d-select {
            padding: 10px 25px;
        }
        .s3d-select__button {
            padding: 10px 25px;
        }
    }
}

@media screen and (min-width:576px) and (max-width:768px){
    .s3d-select[data-type="favourites"] svg{
        display: none;
    }
    .s3d-select[data-count="0"] {
        display: none;
    }
    .s3d-controller{
        grid-template-areas:
                '. . .'
                'filter . compass'
                '. . .'
                '. . info-flat'
                'buttons buttons buttons';

    }
    .s3d-controller[data-type="complex1"], .s3d-controller[data-type="courtyard1"],.s3d-controller[data-type="complex2"], .s3d-controller[data-type="courtyard2"], .s3d-controller[data-type="plannings"]{
        .s3d-tell{
            &__text{
                display: none;
            }
        }
    }
    .s3d-tell{
        grid-area: 5/3/5/3;
    }

    .s3d-controller[data-type="apart"]{
        display: none;
    }

    .s3d-controller__openFilter__text {
        padding: 10px 13px;
        text-transform: lowercase;
        font-size: 10px;
        line-height: 12px;
    }

}

@media screen and (max-width:575px) {
    .s3d-controller {
        display: grid !important;
    }
    .s3d-controller {
        grid-gap: 0;
        padding-bottom: 0;
    }
    .s3d-controller__openFilter {
        height: 37px;
        width: initial;
        margin: 0 auto 0 10px;
        svg {
            width: 16px;
            height: 14px;
        }
    }
    .s3d-controller__openFilter__icon {
        width: 36px;
        height: 36px;
    }
    .s3d-controller__openFilter__text {
        padding: 10px 13px;
        text-transform: lowercase;
        font-size: 8px;
        line-height: 8px;
    }
    .s3d-tell {
        display: none;
    }
    .s3d-controller__compass {
        display: none;
    }
}

//общие стили навигации
.s3d-controller {
    @media screen and (max-width: 575px) {
        &__elem{
            border-radius: 0;
        }
        .s3d-select {
            //width: 33.3333333%;
            padding: 0 10px;
            height: 44px;
            flex: 1 1 20%;
            min-width: auto;
            font-size: 9px;
            line-height: 8px;
            text-transform: capitalize;
            //display: flex;
            //flex-direction: column;
            //justify-content: space-between;
            //font-weight: 600;
            //background: #FFFFFF;
            //color: #240A3A;
            border-radius: 0;
            //svg{
            //    display: inline-block;
            //}
            &__button {
                padding: 10px 10px;
                font-size: 9px;
                line-height: 8px;
            }
            &__number span{
                font-size: 9px;
                line-height: 8px;
                text-transform: capitalize;
            }

            &.active{
                //color: #ffffff;
                box-shadow: none;
                //background: $color1;
                //svg{
                //    fill: #ffffff;
                //    stroke: $color2;
                //}
            }
        }
        .s3d-select[data-count="0"] {
            filter:grayscale(1.5);
            pointer-events: none;
            color: #b1b1b1;
        }
    }
}

//Єкран 3д дома
@media screen and (max-width:575px) {
    .s3d-controller[data-type="complex1"], .s3d-controller[data-type="courtyard1"], .s3d-controller[data-type="complex2"], .s3d-controller[data-type="courtyard2"] {
        grid-template-columns: repeat(3, 33.3vw);
        .s3d-select[data-type="complex1"],.s3d-select[data-type="courtyard1"] , .s3d-select[data-type="complex2"],.s3d-select[data-type="courtyard2"] {
        }
        .s3d-tell{
            &__text{
                display: none;
            }
        }
    }
}

.s3d-controller[data-type="complex1"],
.s3d-controller[data-type="complex2"],
.s3d-controller[data-type="courtyard1"],
.s3d-controller[data-type="courtyard2"],
.s3d-controller[data-type="plannings"],
.s3d-controller[data-type="apart"],
.s3d-controller[data-type="favourites"] {
    @media screen and (max-width: 575px) {
        // .s3d-infoBox__static {
        //     display: none;
        // }
        .s3d-infoBox {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            right: auto;
            bottom: auto;
            grid-area: none;
            border-radius: 20px;
            &__image{
                max-height: 35vh;
            }
            &__table{
                table{
                    margin: 10px 15px;
                }
                td{
                    font-size: 12px;
                    line-height: 24px;
                }
            }
            &__buttons{
                height: 36px;
                margin: 5px 15px 15px;
            }
            &__link{
                font-size: 12px;
                line-height: 20px;
            }
            .s3d-infoBox__add-favourites{
                width: 36px;
            }
        }
        .s3d-infoBox:not(.s3d-infoBox-active) {
            opacity: 0;
            pointer-events: none;
        }
        .s3d-controller__elem {
            grid-area: 5/1/6/4;
            width: 100%;
        }
        .s3d-title {
            display: none;
        }
    }
}

//Кнопки навигации на плитке
@media screen and (max-width:575px) {
    .s3d-controller[data-type="plannings"] {
        .s3d-infoBox {
            display: none;
        }
    }
}

//Кнопки навигации в избранном
@media screen and (max-width:575px) {
    .s3d-controller[data-type="favourites"] {
        display: grid;
        z-index: 250;
        .s3d-controller__openFilter {
            display: none;
        }
        .s3d-controller__elem {
            width: 100%;
            position: fixed;
            bottom: 60px;
        }
    }
}

@media screen and (max-width:575px) {
    .s3d-controller[data-type="apart"] {

        .s3d-controller__openFilter {
            display: none;
        }
    }
}