@media screen and ( min-width: 1600px) {
    .s3d {
        &-pl {
            &__list {
                //grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}

@media screen and ( max-width: 1023px) {
    .s3d {
        &-pl {
            &__list {
                //grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}

@media screen and ( max-width: 767px) {
    .s3d {
        &-pl {
            &__list {
                //grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}


@media screen and (max-width:768px)  and (min-width:576px){
    .s3d {
        &-pl {
            //padding-top: 50px;
            //display: flex;
            //flex-wrap: wrap;
            width: 100%;
            grid-template-columns: 100%;
            grid-template-areas: 'content'
        'bottom';
            overflow: auto;
            max-width: 100vw ;
            &__right{
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
            }
            &__link{
                padding: 0 10px 0 44px;
            }
            &__favourites{
                margin-right: 0;
            }
        }
        &-pl__list {
            //grid-template-columns: 1fr 1fr ;
            grid-gap: 10px;
            padding: 0;
        }
        
    }

}


@media screen and ( max-width: 575px) {
    .s3d {
        &-pl {
            //padding-top: 50px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            overflow: scroll;
            overflow-x: hidden;
            &__link{
                padding: 0 10px 0 44px;
            }
            &__type{
                top: 5px;
                padding: 0 5px;
                font-size: 9px;
                line-height: 20px;
                border-radius: 6px;
            }
            &__name, &__value{
                line-height: 26px;
                padding: 0 8px;
            }
        }
        &-pl__list {
            max-height: none;
            overflow: visible;
            //grid-template-columns: 1fr;
            padding: 0 15px;
        }
        &-pl__right {
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
        &-pl__plane {
            box-shadow: 0 4px 20px rgba(28, 73, 84, 0.15);
        }
        &__wrapper__plannings .s3d-controller__elem {
            display: none;
        }
        &-pl__favourites {
            margin: 0 0 5px;
            //display: none;
            &-icon{
                margin-left: 10px;
            }
        }
        &-pl__amount-flat{
            font-size: 12px;
        }
    }
}