.s3d {

  &__button {
    z-index: 100;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    background: $color2;
    //background: #F2F2F2;
    //fill: $color2;
    padding: 8px;
    transform: translateY(-100%);
    transition: background-color .3s ease-in, box-shadow .3s ease-in;
    outline-color: transparent;
    cursor: pointer;

    * {
      pointer-events: none;
    }

    svg {
      display: flex;
      fill: #F2F2F2;
      //fill: $color2;
      flex: 1 1 100%;
      transition: fill .3s ease-in;
    }
    &:focus{
      //z-index: 5;
      outline-style: outset;
      outline-color: rgba(132, 41, 144, 0.3);
    }
    &:hover {
      box-shadow: 0 8px 20px rgba(132, 41, 144, 0.4);
      border: none;
      background: #842990;

      svg {
        fill: $wc;
      }
    }

    &-left {
      left: 30px;
    }

    &-right {
      right: 30px;

      //svg {
      //  transform: rotate(180deg);
      //}
    }
  }
  &__slider{
    &__bg{
      position: fixed;
      left: 0;
      right: 0;
      pointer-events: none;
      height: 15vh;
      width: 100%;
      z-index: 155;
      &-top{
        top: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      }
      &-bottom{
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      }
    }
  }
  &-infoBox {
    position: absolute;
    top: 50%;
    right: 0;
    //grid-area: info-flat;
    grid-column: -1;
    grid-row: 1 / -1;
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 auto;
    border-radius: 20px 0 0 20px;
    background: #ffffff;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    z-index: 999;
    pointer-events: none;
    transition: all 0.4s ease-in;
    &__hover{
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      height: 52px;
      width: 100%;
      background: $color1;
      order: 2;
      z-index: 6;
      transition: opacity 0.4s ease-in;
      span{
        margin: 0 6px;
      }
    }
    &__icon{
      display: flex;
      width: 52px;
      height: 52px;
      flex: 0 0 52px;
      justify-content: center;
      align-items: center;

      background: $color1;
      svg{
        width: 18px;
        height: 16px;
        fill: #FFFFFF;
      }
    }
    &__text{
      display: flex;
      align-items: center;
      padding: 5px 15px;
      font-family: $default-font;
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-align: left;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    &__image{
      position: relative;
      display: flex;
      justify-content: center;
      //height: inherit;
      height: 30vh;
      max-height: 250px;
      //max-height: 40vh;

      width: 100%;
      max-width: 100%;
      padding: 25px 20px 32px;
      margin: 0;
      //position: absolute;
      background: #FFFFFF;
      order: 1;
      z-index: 2;
      transition: opacity 0.6s cubic-bezier(.41,.57,.26,1);
      //transform: translateY(100%);
      img {
        display: inline-block;
        object-fit: contain;
      }
      span{
        margin-left: 7px;
      }
    }
    &__close{
      position: absolute;
      top: 5px;
      right: 5px;
      height: 20px;
      width: 20px;
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      &:after{
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background: #842990;
        transform: translate(-50%,-50%)rotate(45deg);
      }
      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background: #842990;
        transform: translate(-50%,-50%)rotate(-45deg);
      }
      &:hover{
        transform: rotate(90deg);
      }
    }
    &__type{
      position: absolute;
      bottom: 0;
      left: 15px;
      padding: 0 10px;
      border-radius: 15px;
      background: #E1D7E4;
      font-family: $default-font;
      font-weight: normal;
      font-size: 10px;
      line-height: 24px;
      text-align: center;
      color: #221F20;
    }
    &__table{
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;

      order: 2;
      z-index: 3;
      background: #FFFFFF;
      box-sizing: content-box;
      //transition: transform 0.6s cubic-bezier(.41,.57,.26,1), height 0.6s cubic-bezier(.41,.57,.26,1);
      table{
        width: 100%;
        margin: 20px 15px;
      }
      td {
        padding: 0 13px;
        font-family: $default-font;
        font-weight: normal;
        font-size: 12px;
        line-height: 32px;
        color: #221F20;
        border: 1px solid rgba(242, 242, 242, 1);
      }
      td:nth-child(even){
        width: 100%;
      }
      td:nth-child(odd){
        text-align: center;
      }
      &-sale {
        margin: 0 15px 20px;
        font-family: $default-font;
        font-weight: normal;
        font-size: 12px;
        //line-height: 32px;
        color: #221F20;
      }
    }
    &__buttons {
      position: relative;
      display: none;
      width: calc(100% - 30px);
      height: 44px;
      border-radius: 20px;
      overflow: hidden;
      margin: 0 15px 20px;
      z-index: 7;
      order: 3;
      visibility: hidden;
      transition: all 0.3s ease-in;
    }
    &__link{
      position: relative;
      height: 100%;
      flex: 1 1 auto;
      display: flex;
      margin: 0;
      align-items: center;
      justify-content: center;
      //background: $color2;
      border: none;
      font-family: $default-font;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-transform: capitalize;
      text-decoration: none;
      color: #FFFFFF;
      cursor: pointer;
      overflow: hidden;
      pointer-events: painted;
      z-index: 1;
      //&:focus{
      //  outline: 1px solid #aaaaaa;
      //}
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 100%;
        width: 100%;
        background: #842990;
        border-radius: 50px;
        transform: translate(-100%, 0);
        transition: transform 0.4s ease-out;
        z-index: -1;
      }
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 100%;
        width: 100%;
        background: #752180;
        z-index: -2;
      }

      &:hover {
        &:after{
          transform: translate(0, 0);
        }
      }
    }
    &__add-favourites{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 44px;
      background: #842990;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      z-index: 3;
      input{
        display: none;
      }
      input:checked + svg{
        fill: #FFFFFF;
        stroke: transparent;
      }

      svg{
        height: 40%;
        width: 40%;
        fill: transparent;
        stroke: #FFFFFF;
        stroke-width: 2px;
        pointer-events: none;
        transition: stroke .3s ease-out, fill .3s ease-out;
      }
      &:hover{
        //background: #1C4954;
        box-shadow: 0 4px 15px rgba(122, 65, 56, 0.3);
        svg{
          fill: #FFFFFF;
        }
        & input:checked + svg{
          fill: #FFFFFF;
          //fill: #E46C59;
        }
      }
    }

    &.s3d-infoBox-hover{
      opacity: 1;
      visibility: visible;
    }
    &.s3d-infoBox-active{
      opacity: 1;
      visibility: visible;
      pointer-events: painted;
      .s3d-infoBox{
        &__close{
          pointer-events: painted;
          visibility: visible;
          opacity: 1;
        }
        &__image{
          visibility: visible;
          opacity: 1;
        }
        &__buttons{
          display: flex;
          visibility: visible;
          opacity: 1;
        }
      }
    }

  }
}

@media screen and ( max-width : 1640px ) {

  .s3d {

    &__infoBox {
      font-size: 10px;
      padding: 10px 20px;
    }
  }
}

@media screen and ( max-width : 767px ) {

  .s3d {

    &__button {
      width: 26px;
      height: 26px;
      border-width: 1px;
      padding: 0;

      svg {
        width: 10px;
        height: 10px;
        flex: 0 0 10px;
      }
    }

    &__infoBox {
      font-size: 9px;
      line-height: 14px;
      padding: 5px 10px;
    }
  }
}
